<div class="main-div">
    <div class="container" id="container">
        <div class="form-container sign-in active">
            <form>
                <h1>Login</h1>
                <span>Use seu email e senha</span>
                <input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <input type="password" placeholder="Senha" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    <span *ngIf="error" class="alert">Usuário ou senha incorretos</span>
                <a href="#">Esqueceu sua senha?</a>
                <div>
                    <button (click)="login_()">Login</button>
                    <button (click)="cancelar()" style="margin-left: 17px;">Cancelar</button>
                </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Olá, amigo!</h1>
                    <p>Ainda não tem cadastro? Crie uma conta.</p>
                    <button routerLink="/registro" class="hidden" id="register"> Criar conta </button>
                </div>
            </div>
        </div>
    </div>
</div>