<app-header></app-header>

  
<div class="wrapper">
    <div class="banner">
        <img src="../../assets/banner.jfif" alt="Banner Image">
      </div>    
      <div class="info-section">
        <div class="info-item">
          <div class="icon-container">
            <mat-icon>payment</mat-icon>
        </div>
          <div class="info-text">
            <h4>Pagamento</h4>
            <p>Aceitamos todas as formas de pagamento</p>
          </div>
        </div>
        
        <div class="info-item">
          <div class="icon-container">
            <mat-icon> local_shipping</mat-icon>
        </div>
          <div class="info-text">
            <h4>Entrega</h4>
            <p>Veja se temos frete grátis para sua localização</p>
          </div>
        </div>
        
        <div class="info-item">
          <div class="icon-container">
            <mat-icon>perm_phone_msg</mat-icon>
        </div>
          <div class="info-text">
            <h4>Fale conosco</h4>
            <p>+55 83 9999-9999</p>
          </div>
        </div>
      </div>
      <div class="plan-section">
        <div class="plan-card">
          <img src="../../assets/plano silver (1).png" alt="Plano Silver" class="plan-image">
          <div class="plan-title">Plano Silver</div>
        </div>
      
        <div class="plan-card">
          <img src="../../assets/plano gold (1).png" alt="Plano Gold" class="plan-image">
          <div class="plan-title">Plano Trimestral</div>
        </div>
      
        <div class="plan-card">
          <img src="../../assets/plano diamond (1).png" alt="Plano Diamond" class="plan-image">
          <div class="plan-title">Plano Diamond</div>
        </div>
      </div>
      
    <!-- <router-outlet></router-outlet> -->
    
</div>
<app-footer></app-footer>