<div class="main-div">
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>Registro</h1>
                <span>Preencha os dados a seguir</span>
                <input type="text" placeholder="Nome" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">
                <input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <input type="password" placeholder="Senha" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <input type="password" placeholder="Repetir senha" [(ngModel)]="repetir" [ngModelOptions]="{standalone: true}">
                <span *ngIf="senhasDiferentes" class="alert">As senhas não coincidem</span>
                <span *ngIf="vazio" class="alert">Campos obrigatórios vazios</span>
                <div>
                    <button (click)="registrar()">Criar conta</button>
                    <button routerLink="/login" style="margin-left: 2rem;">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>